snippet qmb
QMessageBox msgBox;
msgBox.setText("${1:Message}");
msgBox.exec();
${2}
endsnippet

snippet ttw
TTW("${1:my_debug}")${2}
endsnippet

snippet ddebug
#include "dynardo_debug.hpp"
endsnippet

snippet qdebug
#include <QDebug>
endsnippet

snippet qd
qDebug() << $0
endsnippet

snippet docf "Function doc" b
/// 
/*!
 * \param
 * \return
 */
endsnippet
