snippet fig "Figure environment" b
\begin{figure}${2:[htpb]}
	\centering
	\includegraphics[width=${3:0.8}\linewidth]{${4:name.ext}}
	\caption{${4/(\w+)\.\w+/\u$1/}$0}
	\label{fig:${4/(\w+)\.\w+/$1/}}
\end{figure}
endsnippet

snippet table "Table" b
\begin{tabular}{${1:u | c | r}}
	\hline
	1 & 2 & 3\\
	\hline
	\caption{${2:Name}$0}
	\label{fig:$2}
\end{tabular}
endsnippet
